@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: "VeganStyle";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/vegan-style-font/VeganStylePersonalUse-5Y58.ttf");
}

// .dm-serif-display-regular {
//   font-family: "DM Serif Display", serif;
//   font-weight: 400;
//   font-style: normal;
// }

// .dm-serif-display-regular-italic {
//   font-family: "DM Serif Display", serif;
//   font-weight: 400;
//   font-style: italic;
// }
