.vegan-style-font {
  font-family: "VeganStyle", sans-serif;
}
.background {
  background-image: url("../../assets/background.png");

  background: url("../../assets/background.png") top right no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
}
